# API Gateway
PORT=3000
API_KEY_MIDDLEWARE=ce4e54995956fc6ddc459eef468b8e46778265c4a917a5d2f2c273361717587f

# Database - User Microservice
USER_DB_HOST=postgres
USER_DB_PORT=5432
USER_DB_NAME=task-management
USER_DB_SCHEMA=users
USER_DB_USER=admin
USER_DB_PASSWORD=654321

# Database - Task Microservice
TASK_DB_HOST=postgres
TASK_DB_PORT=5432
TASK_DB_NAME=task-management
TASK_DB_SCHEMA=tasks
TASK_DB_USER=admin
TASK_DB_PASSWORD=654321

# Database - Auth Microservice
AUTH_DB_HOST=postgres
AUTH_DB_PORT=5432
AUTH_DB_NAME=task-management
AUTH_DB_SCHEMA=auths
AUTH_DB_USER=admin
AUTH_DB_PASSWORD=654321

# JWT
JWT_SECRET=supersecretkey123
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=anothersecretkey456
JWT_REFRESH_EXPIRES_IN=7d

# Frontend (build-time)
VITE_API_URL=http://localhost:3000/api/v1
VITE_MIDDLEWARE=ce4e54995956fc6ddc459eef468b8e46778265c4a917a5d2f2c273361717587f
FRONTEND_API_URL=http://localhost:5173

# Microservices TCP Ports
USER_MS_HOST=localhost
USER_MS_PORT=4001
TASK_MS_HOST=localhost
TASK_MS_PORT=4002
AUTH_MS_HOST=localhost
AUTH_MS_PORT=4003